{% extends 'main.html' %}

{% block content %}
<div class="reset-password-container">
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'login' %}"><i class="im im-angle-left"></i></a>
                <br>
                <h2>Reset Your Password</h2>
                <p>Please enter a new password for your account.</p>

                <form method="POST" class="form">
                    {% csrf_token %}
                    
                    <!-- Input: New Password -->
                    <div class="form__field">
                        <label for="new_password">New Password: </label>
                        <input class="input input--text" type="password" name="new_password" id="new_password" placeholder="Enter your new password" required />
                    </div>

                    <!-- Input: Confirm New Password -->
                    <div class="form__field">
                        <label for="confirm_password">Confirm New Password: </label>
                        <input class="input input--text" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm your new password" required />
                    </div>
                    
                    <input class="btn btn--sub btn--lg my-md" type="submit" value="Reset Password" />
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
