{% extends 'main.html' %}

{% block content %}
<div class="reset-password-container">
    
   
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'login' %}"><i class="im im-angle-left"></i></a>
                <br>
                <h2>Reset Your Password</h2>
    <p>Please enter your email address to receive a password reset link.</p>

                <form class="form" method="POST">

                    <!-- Input:Text -->
                    {% csrf_token %}
        
                    <!-- Input: Email -->
                    <div class="form__field">
                        <label for="email">Email: </label>
                        <input class="input input--text" type="email" name="email" id="email" placeholder="Enter your email" required />
                    </div>
                   
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
